# Ignore Maven and Gradle build directories
/target/
/build/

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Eclipse project files
/.project
/.classpath
/.settings/

# Ignore NetBeans project files
/nbproject/

# Ignore Java class files
*.class

# Ignore JAR and WAR files
*.jar
*.war
*.ear

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IntelliJ IDEA specific folders
/out/

# Ignore Gradle wrapper files
/gradle-wrapper.jar
/gradle-wrapper.properties

